mixin socialIcons(className,items)
    div(class=`${className}`)
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${item.link}`)
                        +svgIcon(`${className}__img`,'../../images/sprite.svg',`${item.img}`)

mixin welcomeNav(pages) 
    nav.welcome-btns
        ul.welcome-btns__list
            each item in pages
                li.welcome-btns__item
                    a.welcome-btns__link(href=`./${item.page}.html`)=item.title

mixin svgIcon(className, path, symbol)
    svg(class=`${className}`)
        use(xlink:href=`${path}`+`#${symbol}`) 