mixin socialIcons(className,items,welcome)
    if welcome==1
        div(class=`${className}`)
            ul(class=`${className}__list`)
                each item in items
                    li(class=`${className}__item`)
                        a(class=`${className}__link` href=`${item.link}`)
                            +svgIcon(`${className}__img`,'./images/sprite.svg',`${item.img}`)
    else 
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${item.link}`)
                        +svgIcon(`${className}__img`,'./images/sprite.svg',`${item.img}`)

mixin welcomeNav(pages,className,welcome) 
    if welcome==1
        nav(class=`${className}`)
            ul(class=`${className}__list`)
                each item in pages
                    li(class=`${className}__item`)
                        a(class=`${className}__link` href=`./${item.page}.html`)=item.title
    else
        ul(class=`${className}__list`)
            each item in pages
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`./${item.page}.html`)=item.title

mixin svgIcon(className, path, symbol)
    svg(class=`${className}`)
        //- use(xlink:href=require('../../images/sprite.svg')+`#${symbol}`) 
        use(xlink:href=`${path}#${symbol}`) 

mixin img(className,path,alt)
    img(src =`${path}`, class=`${className}`, alt=`${alt}`)


mixin underlineText(title,text,className)
    .underline-title
        .underline-title__main-title
            h2(class=`title-underline title-underline_${className}`)= `${title}`
            div(class=`underline-${className}`)
            if `${text}`.length>0
                div(class= `underline-title__desc underline-title__${className}`)
                    p= `${text}`


mixin footer-main(className)
    -var text = [" &#169; Салтрукович Юлия","создано с любовью в LoftSchool","2018"]
    div(class=`${className}`)
        .footer__title
            each item in text
                span.footer__item!=item

mixin triangle(page)
    .section-poly
        svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
            polygon(class = `${page}-left` points="0,0   0,86   500.8,86   500.8,75.5")
            polygon(class = `${page}-right` points="1000,0   1000,86   500,86   500,75.5")