mixin socialIcons(className,items,welcome)
    if welcome==1
        div(class=`${className}`)
            ul(class=`${className}__list`)
                each item in items
                    li(class=`${className}__item`)
                        a(class=`${className}__link` href=`${item.link}`)
                            +svgIcon(`${className}__img`,'./images/sprite.svg',`${item.img}`)
    else 
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${item.link}`)
                        +svgIcon(`${className}__img`,'./images/sprite.svg',`${item.img}`)

mixin welcomeNav(pages,className,welcome) 
    if welcome==1
        nav(class=`${className}`)
            ul(class=`${className}__list`)
                each item in pages
                    li(class=`${className}__item`)
                        a(class=`${className}__link` href=`./${item.page}.html`)=item.title
    else if (welcome==2)
        ul(class=`${className}__list`)
                each item,index in pages
                    li(class=`${className}__item`)
                        input(class=`${className}__link`, id=`btn${index}`, type="submit", value=item.title)
    else
        ul(class=`${className}__list`)
            each item in pages
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`./${item.page}.html`)=item.title

mixin svgIcon(className, path, symbol)
    svg(class=`${className}`)
        //- use(xlink:href=require('../../images/sprite.svg')+`#${symbol}`) 
        use(xlink:href=`${path}#${symbol}`) 

mixin img(className,path,alt)
    img(src =`${path}`, class=`${className}`, alt=`${alt}`)

mixin triangle(page)
    .section-poly
        svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
            polygon(class = `${page}-left` points="0,0   0,86   500.8,86   500.8,75.5")
            polygon(class = `${page}-right` points="1000,0   1000,86   500,86   500,75.5")

mixin fixedNav(page)
    .fixed
        nav.fixed-nav
            ul.fixed-nav__list
                -var nav=[{page:'Авторизация',href:'./welcome.html'},{page:'Мои работы',href:'./works.html'},{page:'Блог',href:'./blog.html'},{page:'Обо мне',href:'./about.html'}]
                each item in nav
                    if (item.page==page)
                        li.fixed-nav__item.fixed-nav_active
                            a(href=`${item.href}`).fixed-nav__link= item.page
                    else 
                        li.fixed-nav__item
                            a(href=`${item.href}`).fixed-nav__link= item.page
                    