mixin header(className)
    header(class=`header ${className}`)
        if className = 'welcome__header'
            include ./roundHref

mixin footer(className)
    footer(class=`footer ${className}`)
        if className = 'welcome__footer'
            h2 Подвал
            
mixin socialIcons(className,items)
    .(class=`${className}`)
        ul(class=`${className}__list`)
        each item in items
            li(class=`${className}__item`)
                a(class=`${className}__link` href="https://vk.com/id19701551")
                    img(class=`${className}__img`)