include ./_mixins

main.content.welcome__content
        .welcome-flip
            .flipper
                .welcome-front
                    .welcome-describe
                        .welcome-describe__img
                            img.welcome__photo(src=require("../../images/photo.jpg"), alt="")
                        .welcome-describe__text
                            h2.welcome-describe__title Салтрукович Юлия
                            .welcome-describe__desc Личный сайт веб-разработчика
                        +socialIcons('social_welcome', [{link:'http://vk.com',img: 'vk'},{link:'http://vk.com',img: 'github'},{link:'http://vk.com',img: 'in'}],1)
                    +welcomeNav([{page:'works',title:'Мои работы'},{page:'about',title:' Обо мне'},{page:'blog',title: 'Блог'}],'welcome-btns',1)
                .welcome-back
                    .welcome-describe
                        h2.title-underline.title-underline_auth= 'Авторизуйтесь'
                        .auth-form
                            .form
                                .form__wrapper
                                    .form-row
                                        span.form__input_login
                                        span.input-back
                                            +svgIcon('form__img','./images/sprite.svg','login')
                                        label.form-row__label
                                            input(type="text", name="", placeholder="Логин" class="form__input")
                                    .form-row
                                        span.form__input_login
                                        span.input-back
                                            +svgIcon('form__img','./images/sprite.svg','password')
                                        label.form-row__label
                                            input(type="password", name="", placeholder="Пароль" class="form__input")
                                    .form-row   
                                        label.check-label
                                            input(type="checkbox", name="" class='visuallyHidden robot')
                                            .form__checkbox-fake
                                            .form__checkbox-fake-title='Я человек'
                                    .form-row
                                        h3.form-row__title='Вы точно не робот?'
                                    .form-column
                                        label.check-label.check-label_margin-right
                                            input(type="radio", name="radio" class='visuallyHidden radio-fake')
                                            .form__radio-fake
                                            .form__radio-fake-title='Я Да'
                                        label.check-label.check-label_margin-right
                                            input(type="radio", name="radio" class='visuallyHidden radio-fake')
                                            .form__radio-fake
                                            .form__radio-fake-title='Не уверен'
                    +welcomeNav([{page:'works',title:'На главную'},{page:'about',title:'Войти'}],'welcome-btns',1)