extends ../base 

block head
    title Обо мне

block wrapper
    .wrapper.works.other
        +fixedNav('Мои работы')
        h1.visuallyHidden= 'Мои работы'
        include ../../components/header/header
        block content
            section.content.other-content
                +triangle('works')
                section.content-works
                    .works-title-main
                        h2.title-underline.title-underline_works= 'Мои работы'
                        .works-title
                            +svgIcon('works-title__img','./images/sprite.svg','works_header')
                    section.work-around.slider
                        .work-main-left
                            .left.work-main__left
                                .left__describe
                                    h2.title-underline.title-underline_site= 'Сайт школы онлайн-образования'
                                .left-skills
                                    -var skills = ['html','css','javascript'];
                                    each skill in skills
                                        span.left-skills_name= skill
                                a.see__link(href="")= 'Посмотреть сайт'
                        .work-main_right
                            .slider-show-img
                                img(src=require("../../images/work-1.png"), alt="Слайдер" class='slider-show__img')
                        .slider-btns
                            .slider-prev
                                .slider-prev-img
                                    img(src=require("../../images/work-2.png"), alt="Слайдер" class='slider-prev__img')
                                .slider-btns__up
                                    a.btn-down
                                        +svgIcon('btn-arrow','./images/sprite.svg','arrow_down')
                            .slider-next
                                .slider-next-img
                                    img(src=require("../../images/work-3.png"), alt="Слайдер" class='slider-next__img')
                                .slider-btns__up
                                    a.btn-down
                                        +svgIcon('btn-arrow','./images/sprite.svg','arrow_down')
                section.about-me
                    .about-me__bg
                        picture.about-me__img
                            source.img(srcset="./images/list1200.png" media="(max-width: 768px)")
                            source.img(srcset="./images/list1200.png" media="(max-width: 580px)")
                            source.img(srcset="./images/list1200.png")
                            img.img(srcset="./images/list1200.png" alt="Фон страницы work")
                    .works-title-about
                        h2.title-underline.title-underline-about_works= 'Что обо мне говорят'
                        .works-title_about
                            +svgIcon('works-about-img','./images/sprite.svg','about_header')
                    .works-reviews
                        .reviews-content
                            .review-img
                                img(src=require("../../images/photo.jpg"), alt="Фото" class='review__img')
                            .review-text
                                p= 'Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool!! Два месяца тоолько самых тяжелых испытаний и бессоных ночей!'
                                .review-quote
                                    +svgIcon('review-quote__img','./images/sprite.svg','check')
                            .review-author
                                p= 'Ковальчук Дмитрий'
                            .review-author-work
                                p= '-Основатель LoftSchool'
                        .reviews-content
                            .review-img
                                img(src=require("../../images/photo.jpg"), alt="Фото" class='review__img')
                            .review-text
                                p= 'Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool!! Два месяца тоолько самых тяжелых испытаний и бессоных ночей!'
                                .review-quote
                                    +svgIcon('review-quote__img','./images/sprite.svg','check')
                            .review-author
                                p= 'Ковальчук Дмитрий'
                            .review-author-work
                                p= '-Основатель LoftSchool'
                    .works-form
                        .blur
                        h2.title-underline.title-underline-form= 'Связаться со мной'
                        .auth-form
                            form(class='form-review' name='form-review')
                                .auth-form-wrapper
                                    .auth-form-row
                                        label.form-row__label
                                            input(type="text", name="name", placeholder="Имя" class="auth-form__input")
                                        span.error
                                    .auth-form-row
                                        label.form-row__label
                                            input(type="email", name="email", placeholder="E-MAIL" class="auth-form__input")
                                        span.error
                                    .auth-form-row
                                        label.form-row__label
                                            textarea(class="auth-form__input" rows="10" cols="45" name="message" placeholder="Ваше сообщение")
                                        span.error.form-row-error_textarea
                                    .form-btns
                                        input(class='welcome-btns__link' type='submit' value='Отправить')
                                        input(class='welcome-btns__link' type='reset' value='Очистить')
                    block footer
                        include ../../components/footer/mainFooter


